include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include src/senaite/abx *
recursive-exclude src/senaite/abx *.pyc
recursive-exclude src/senaite/abx/locales/.tx *
